{{ define "main" }}
    <section class="home__hero">
        <h1 class="poppins-extralight">JR <span class="home__hero__uiux">UI/UX</span> DESIGNER</h1>
        <h2 class="poppins-medium">
            {{ .Params.hero }}
        </h2>
    </section>
    <section class="home__projects">
        {{ range where .Site.RegularPages "Type" "projects" }}
            <figure>
                <img src="{{ .Site.BaseURL }}{{ .Params.headerImage }}" />
                <a href="{{ .RelPermalink }}" class="home__projects__overlay poppins-medium">{{ .Title }}</a>
            </figure>
        {{ end }}
    </section>
{{ end }}
