<div class="project-detail__a11ynotes">
  <h3 class="poppins-light">Notes on accessibility</h3>
  <div class="poppins-extralight">
    <p>
      In creating this responsive website aimed at assisting travelers with
      currency exchange rates, locating nearby ATMs, and tracking currency
      fluctuations, we prioritized accessibility to ensure a seamless experience
      for users of all ages and abilities.
    </p>

    <p>
      <b>Clear Labels with Icons:</b> Essential features like Graphs, ATMs, and
      Alerts are presented with both icons and text labels. This combination
      aids users with cognitive disabilities and enhances screen reader
      compatibility by clearly conveying the function of each button.
    </p>

    <p>
      <b>Responsive Design:</b> The layout adapts fluidly to various screen
      sizes, including mobile devices and tablets Text and buttons resize
      appropriately, maintaining readability and usability across all devices—a
      crucial aspect for our diverse user base.
    </p>

    <p>
      <b>High Contrast Ratio:</b> Interactive elements have a contrast ratio of
      3:36, complying with WCAG (Web Content Accessibility Guidelines) standards
      for larger text and graphics. This ensures that buttons and text are
      easily visible to users with mild visual impairments, enhancing overall
      accessibility.
    </p>

    <p>
      <b>Screen Reader Support with Annotations:</b> The website is optimized
      for screen readers, incorporating annotations that define the linear focus
      order. This assists assistive technologies in navigating through forms
      efficiently, improving the user experience for those relying on screen
      readers.
    </p>

    <p>
      By integrating these accessibility features, the website provides an
      inclusive platform that empowers travelers to make informed financial
      decisions effortlessly, regardless of their physical abilities or the
      devices they use.
    </p>
  </div>
</div>
