<header class="poppins-light">
    <div class="wrapper">
        <a href="{{ .Site.BaseURL }}"><img class="logo" src="{{ .Site.BaseURL }}images/logo.png" /></a>
        <a href="{{ .Site.BaseURL }}#projects" class="projects-link">Projects</a>
        <a href="{{ .Site.BaseURL }}profile">Profile</a>
        <a class="contact-link">Contact</a>

        <div class="menu-toggle"><span></span></div>

        <nav class="menu-mobile">
            <ul>
                <li><a href="{{ .Site.BaseURL }}">Home</a></li>
                <li><a href="{{ .Site.BaseURL }}#projects" class="projects-link">Projects</a></li>
                <li><a href="{{ .Site.BaseURL }}profile">Profile</a></li>
                <li><a class="contact-link">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>